@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Serif+Display:ital@0;1&display=swap');

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: #31a6bb;
}

.footer-container p {
    margin: 0;
}

.footer-container nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-container nav li {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    padding-right: 50px;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
}

.footer-container a {
    color: #E5E5E5;
    text-decoration: none;
}

.footer-container a:hover {
    color: #181b63;
}